<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Activity_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-activity_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[activity_time]" type="text" value="{:$row.activity_time?datetime($row.activity_time):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Activity_place')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-activity_place" class="form-control" name="row[activity_place]" type="text" value="{$row.activity_place|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Activity_person')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-activity_person" class="form-control" name="row[activity_person]" type="text" value="{$row.activity_person|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Activity_files')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-activity_files" class="form-control" size="50" name="row[activity_files]" type="text" value="{$row.activity_files|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-activity_files" class="btn btn-danger plupload" data-input-id="c-activity_files" data-multiple="true" data-preview-id="p-activity_files"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
<!--                    <span><button type="button" id="fachoose-activity_files" class="btn btn-primary fachoose" data-input-id="c-activity_files" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>-->
                </div>
                <span class="msg-box n-right" for="c-activity_files"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-activity_files"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Activity_note')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-activity_note"  class="form-control editor" rows="5" name="row[content]" cols="50">{$row.content|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Read_list')}:</label>
        <div class="col-xs-12 col-sm-8">
            <label id="c-read_list" class="form-control" disabled type="text" >{$row.cmsarchives.haveread_list|htmlentities} </label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="progressStateList" item="vo"}
            <label for="row[progress_state]-{$key}"><input id="row[progress_state]-{$key}" name="row[progress_state]" type="radio" value="{$key}" {in name="key" value="$row.progress_state"}checked{/in} /> {$vo}</label>
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
